@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// MEDIA QUERY MANAGER
/*
0 - 600px:               Phone
600 - 900px:             Tablet portrait
900 - 1200px:            Tablet landscape
[1200 - 1800]:           is where our normal styles apply
1800px + :               Big desktop
*/

@mixin respond-phone {
  @media (max-width: 600px) { @content };
}

/*
$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px since media queries ALWAYS use the browser font even if the default font is overriden by us.
*/
@mixin respond($breakpoint) {
  // Using 'em' units because 'rem'
  @if $breakpoint == phone {
    @media only screen and (max-width: 37.5em) { @content }; // 600px
  }

  @if $breakpoint == tab-port {
    @media only screen and (max-width: 56.25em) { @content }; // 900px
  }

  @if $breakpoint == tab-land {
    @media only screen and (max-width: 75em) { @content }; // 1200px
  }

  @if $breakpoint == big-desktop {
    // Note the min-width here since we only want this to apply to really big screens.
    @media only screen and (min-width: 112.5em) { @content }; // 1800px
  }
}