.header {
  height: 85vh; /* This means 95% of the viewport height */

  /* TAG: Multiple background images with a gradient as one of them */
  background-image: linear-gradient(
    to right bottom,
    rgba($color-primary-light, 0.8),
    rgba($color-primary-dark, 0.8)),
  url("../img/hero-small.jpg"); /*  Here we basically have 2 images one on top of the other. The first one on top and the second one below. */
  background-size: cover; /* Fit the size of the element */
  background-position: top; /* This determines which part of the image gets cropped when resizing */
  position: relative;

  /* TAG: clip-path, polygon: Specify a polygon on which the element will still be visible. Note that you can specify  */
  // -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  // clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  // This was commented out since it doesn't work on safari and was inserted below in the feature query.

  @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    height: 95vh;
  }

  @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em),
         only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em), // Required for safari.
         only screen and (min-width: 125em) { // 192dpi Resolution of apple retina display. The comma is the same as OR operator.
    background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)),
    url("../img/hero.jpg");
  }

  @include respond(phone) {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
  }

  &__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
  }

  &__logo {
    height: 3.5rem;
  }

  &__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    text-align: center;

    /* TAG: how to center an element */
    transform: translate(-50%, -50%); /* translate is in reference to itself */
  }
}
