
@keyframes moveInLeft {

  /* NOTE: Browsers are optimized for animating two properties at one time. */

  /* Start of the animation */
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  /* Can be any percentage in the middle as well */
  80% {
    transform: translateX(1rem);
  }

  /* End of the animation */
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInRight {

  /* NOTE: Browsers are optimized for animating two properties at one time. */

  /* Start of the animation */
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  /* Can be any percentage in the middle as well */
  80% {
    transform: translateX(-1rem);
  }

  /* End of the animation */
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInBottom {

  /* NOTE: Browsers are optimized for animating two properties at one time. */

  /* Start of the animation */
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }

  /* End of the animation */
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}