// Partial files start with _

/* Reset CSS */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* font-size: 10px; 1 rem = 10px -> bad practice to use font-size in pixels */
  font-size: 62.5%; /* Use percentages since the user can change the browser default font-size */

  // Media query using Mixins - not the best approach.
  // @include respond-phone {
  //   font-size: 50%;
  // }

  // This rule is unecessary in this case since the next one has the same rule.
  // @include respond(phone) {
  //   font-size: 50%; 
  // }

  // Always larger media queries before the smaller ones in desktop-first designs like this.
  @include respond(tab-land) {
    font-size: 56.25%; // 1 rem = 9px 9/16 = 56.25%
  }

  @include respond(tab-port) {
    font-size: 50%; // 1 rem = 8px 8/16 = 50%
  }

  @include respond(big-desktop) {
    font-size: 75%; // 1 rem = 12, 12/16 = 75%
  }
}

body {
  box-sizing: border-box;
  padding: 3rem;

  @include respond(tab-port) {
    padding: 0; // 1 rem = 9px 9/16 = 56.25%
  }
}

::selection {
  background-color: $color-primary;
  color: $color-white;
}

// This is the old (inneficient) way of using media querires.
// @media (max-width: 600px) {
//   html {
//   }
//   body {
//   }
// }